.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2rem;
    width: 2rem;
}

/* Style secondary text/paragraphs (e.g., light grey) */
/* .md-typeset p,
.md-typeset ul {
    color: #666666;
} */

.md-grid {
    max-width: initial;
}

.md-typeset h1,
.md-typeset h2 {
    color: #FCFEE9;
}

/* .md-typeset a {
    color: #75163F !important;
} */

p {
    text-align: justify;
}

:root>* {
    --md-primary-fg-color: #292B2A;
    --md-typeset-a-color: #3498db;
}

.md-header {
    color: #FCFEE9;
    /* Change the text color in the main header */
}

body {
    color: #FCFEE9;
}


/* Dark mode: change slate background to a dark gray */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #1D1C1A;
}